<app-navbar-absence></app-navbar-absence>

<div class="container-fluid">
    <h2>Rechercher une absence par ID :</h2>
    <h5><label for="search-box1">ID :</label></h5>
    <input type="number" [(ngModel)]="this.numero1"/>
    <br><br>
    <button class="btn btn-info" (click)="this.getSingle1(this.numero1)">Rechercher</button>
    <br><br>
    <span *ngIf="this.messageSucces1.length">
        <span class="alert alert-success">{{this.messageSucces1}}</span>
    </span>
    <span *ngIf="this.messageEchec1.length">
        <span class="alert alert-danger">{{this.messageEchec1}}</span>
    </span> 
    <br><br>

    <div *ngIf="single1">
    <h5>Liste des absences :</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Etudiant</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Justification</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{absence1.identifiant}}</td>
                <td>{{absence1.etudiant.name}} {{absence1.etudiant.surname}}</td>                
                <td>{{absence1.dateStart | date:"dd/MM/yyyy"}}</td>
                <td>{{absence1.dateEnd | date:"dd/MM/yyyy"}}</td>
                <td>{{absence1.justif}}</td>
                <td>{{absence1.descript}}</td>
                <td>
                    <a routerLink="/absence/detail/{{absence1.identifiant}}" class="btn btn-info" role="button">Afficher les détails</a>
                    &nbsp;
                    <a routerLink="/absence/update/{{absence1.identifiant}}" class="btn btn-info" role="button">Modifier</a>
                    &nbsp;
                    <button class="btn btn-danger" (click)="this.delete(absence1.identifiant)">Supprimer</button>
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    <br><br>
</div>
