<br><br>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"><b>GESTION DES ETUDIANTS |</b></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/etudiant">Afficher la liste des etudiants</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/etudiant/ajout">Ajouter un etudiant</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" >Rechercher un etudiant</a>
      </li>
    </ul>
</nav>
<br><br>