h2 {
    text-align: center;
}

div {
    font-family: 'Times New Roman', Times, serif;
    
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

table > thead > tr > th { background-color:thistle;}