<h2>Bulletin</h2>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Matière</th>
                <th>idExamen</th>
                <th>Note</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let n of this.allNotes">
                <td>{{n.examen.matiere}}</td>
                <td>{{n.examen.idExamen}}</td>
                <td>{{n.value}}</td>
    
            </tr>
            <tr >
                <td></td>
                <td></td>
                <td></td>
               
                <td>
                   
                </td>
            </tr>
            
        </tbody>
            
        
    </table>
</div>
