<app-navbar-classe></app-navbar-classe>

<div class="container-fluid">
    <h2>Rechercher une classe par ID :</h2>
    <h5><label for="search-box1">ID :</label></h5>
    <input type="number" [(ngModel)]="this.numero"/>
    <br><br>
    <button class="btn btn-info" (click)="this.getSingle1(this.numero)">Rechercher</button>
    <br><br>
    <span><h5>{{this.message1}}</h5></span>
    <br><br>
    <h2>Rechercher une classe par nom :</h2>
    <h5><label for="search-box2">Nom :</label></h5>
    <input type="text" [(ngModel)]="this.nom"/>
    <br><br>
    <button class="btn btn-info" (click)="this.getSingle2(this.nom)">Rechercher</button>
    <br><br>
    <span><h5>{{this.message2}}</h5></span>

    <br><br>
    <div *ngIf="single1">
    <h5>Liste des classes :</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{classe1.id}}</td>
                <td>{{classe1.name}}</td>
                <td>
                    <a routerLink="/classe/detail/{{classe1.id}}" class="btn btn-info" role="button">Afficher les détails</a>
                    &nbsp;
                    <a routerLink="/classe/update/{{classe1.id}}" class="btn btn-info" role="button">Modifier</a>
                    &nbsp;
                    <button class="btn btn-danger" (click)="this.delete(classe1.id)">Supprimer</button>
                    &nbsp;
               </td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div *ngIf="single2">
    <h5>Liste des classes :</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let classe of this.allClasse2">
                <td>{{classe.id}}</td>
                <td>{{classe.name}}</td>
                <td>
                    <a routerLink="/classe/detail/{{classe.id}}" class="btn btn-info" role="button">Afficher les détails</a>
                    &nbsp;
                    <a routerLink="/classe/update/{{classe.id}}" class="btn btn-info" role="button">Modifier</a>
                    &nbsp;
                    <button class="btn btn-danger" (click)="this.delete(classe.id)">Supprimer</button>
                    &nbsp;
               </td>
            </tr>
        </tbody>
    </table>
    </div>
    <br><br>



</div>
