<h2>Absences</h2>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Justificatif</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of this.allAbs">
                <td>{{a.dateStart}}</td>
                <td>{{a.dateEnd}}</td>
                <td>{{a.justif}}</td>
    
            </tr>
            
            
        </tbody>
            
        
    </table>
</div>
