<div class="alert alert-danger" *ngIf="errMessage">{{errMessage}}</div>




<div class="container" *ngIf="this.examen">
    <h2>Details de l'examen</h2>

    <div *ngIf="!editMode; else editBlock">
        <div>ID: {{this.examen.idExam}}</div>
        <div>Matiere: <a
                routerLink="/matiere/detail/{{this.examen.matiereExamen.idMatiere}}">{{this.examen.matiereExamen.nomMatiere}}</a>
        </div>
        <div>Date: {{this.examen.dateExamen}}</div>
        <div>Type: {{this.examen.typeExamen}}</div>
        <div>Coefficient: {{this.examen.coefExamen}}</div>
        <div><button class="btn btn-primary" style="margin-top: 1rem; margin-bottom: 1rem;"
                (click)="toggle()">Modifier</button></div>
    </div>
    <ng-template #editBlock>
        <div *ngIf="editMode" class="col-lg-3 col-sm-6">
            <div>ID: {{this.examen.idExam}}</div>
            <div>Matiere: ({{this.examen.matiereExamen.nomMatiere}})
                <select class="form-control" [(ngModel)]="this.examen.matiereExamen">
                    <option *ngFor="let m of this.allMatiere" [ngValue]="m">{{m.nomMatiere}}</option>
                </select>
            </div>
            <div>Date: <input class="form-control" type="date" [(ngModel)]="this.examen.dateExamen"> </div>
            <div>Type:
                <select class="form-control" id="sel1" [(ngModel)]="this.examen.typeExamen" name="type">
                    <option>CC</option>
                    <option>DS</option>
                    <option>TEST</option>
                    <option>EXAMEN</option>
                </select>
            </div>
            <div>Coefficient: <input type="text" class="form-control" [(ngModel)]="this.examen.coefExamen"
                    style="width: 3rem;"></div>
            <div><button class="btn btn-success" style="margin-top: 1rem; margin-bottom: 1rem; margin-right: 1rem;"
                    (click)="update()">Enregistrer</button>
                <button class="btn btn-primary" style="margin-top: 1rem; margin-bottom: 1rem;"
                    (click)="toggle()">Annuler</button></div>
        </div>
    </ng-template>




    <div>
        Notes pour cet examen:
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Note</th>
                    <th>Etudiant</th>
                    <th>
                        <button class="btn btn-info" (click)="this.toggleCreate()"><span
                                *ngIf="!this.showCreate; else elseBlock">Ajouter une note</span>
                            <ng-template #elseBlock>Cacher le formulaire</ng-template>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="this.showCreate">
                    <td>*</td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="this.newNote.value" style="width: 3rem;">
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="this.newNote.etudiant">
                            <option *ngFor="let e of this.examen.matiereExamen.listeEtudiant" [ngValue]="e">{{e.mail}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-success" (click)="this.create()">Enregistrer</button>
                    </td>
                </tr>
                <tr *ngFor="let n of this.notesForExam">
                    <td>{{n.id}}</td>
                    <td>{{n.value}}</td>
                    <td>{{n.etudiant.mail}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="this.deleteNote(n.id)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>