<div id="page">
    <br>
    <h1>Bienvenue sur notre plateforme !</h1>
    <hr>


    <table border="1" align="center"> 
		<tr>
			<td><img src="../assets/etabsco.jpg"></td>
			<td><img src="../assets/etabsco1.jpg"></td>
		</tr>
		<tr>
			<td align="left"><img src="../assets/etabsco2.jpg"></td>
			<td align="center"><img src="../assets/etabsco4.jpg"></td>
        </tr>
        <tr>
			<td align="left"><img src="../assets/etabsco3.jpg"></td>
			<td align="center"><img src="../assets/etabsco5.png"></td>
		</tr>
	</table>
    <br>
