<app-navbar-matiere></app-navbar-matiere>

<div class="container-fluid">
    <h2>Détails de la matière :</h2>
    <h5>ID : {{this.matiere.idMatiere}}</h5>
    <h5>Nom : {{this.matiere.nomMatiere}} </h5>
    <h5>Liste des étudiants inscrits à la matière {{this.matiere.nomMatiere}} :</h5> 
    <p *ngIf="emptyListe"><i>Il n'y a pas d'étudiants inscrits à cette matière</i></p>
    <table class="table table-hover" *ngIf = "!emptyListe">
        <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>CNI</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of this.matiere.listeEtudiant">
                <td>{{e.identifiant}}</td>
                <td><a routerLink="/etudiant/detail/{{this.e.identifiant}}">
                    {{this.e.name}} </a></td>
                <td>{{e.surname}}</td>
                <td>{{e.identity}}</td>
                <td>{{e.mail}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-info" (click)="afficherExamens(this.matiere.nomMatiere)">Voir les examens de cette matière</button>
    &nbsp;&nbsp;
    <button class="btn btn-info" (click)="retour()">Retour</button>
    <br><br>

    <div *ngIf="tableauExamens">
        <h5>Examens :</h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date </th>
                    <th>Type </th>
                    <th>Coefficient</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let examen of this.allExamens">
                    <td>{{examen.idExam}}</td>
                    <td>{{examen.dateExamen}}</td>
                    <td><a routerLink="/examen/detail/{{examen.idExam}}">
                        {{examen.typeExamen}} </a></td>
                    <td>{{examen.coefExamen}}</td>
                </tr>
            </tbody>
        </table>
        <p><i>{{this.messageExamens}}</i></p>
        <br><br>
    </div>
    
    
</div>
