<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/etudiant">Etudiants</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/absence">Absences</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/classe">Classes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/examen">Examens</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/etudiant">Etudiants</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/matiere">Matieres</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/note">Notes</a>
            </li>

        </ul>
    </nav>
</div>