<br><br>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"><b>GESTION DES NOTES |</b></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/note">Afficher la liste des notes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/note/add">Ajouter une note</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/note/search">Rechercher une note</a>
      </li>
    </ul>
</nav>
<br><br>