<br><br>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"><b>GESTION DES CLASSES |</b></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/classe">Afficher la liste des classes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/classe/add">Ajouter une classe</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/classe/search" >Rechercher une classe</a>
      </li>
    </ul>
</nav>
<br><br>