<app-navbar-examen></app-navbar-examen>

<div class="container">
    <h2>Modifier un examen :</h2>
    <h5>ID : {{this.examen.idExam}} </h5>
    <form [formGroup] = "formulaireModif" (ngSubmit) = 'update()'>
        <p *ngIf="this.emptyListeMatiere"><i>Désolé, aucune matière n'est enregistrée. 
            Vous ne pouvez pas modifier d'examens.</i></p>
        <div class="formGroup" *ngIf="!this.emptyListeMatiere">
            <h5><label for="matiereExamen">Matière* :</label> 
                <span *ngIf="this.examen.matiereExamen"> [{{this.examen.matiereExamen.nomMatiere}}] </span></h5>
            <select class="form-control" [(ngModel)]="this.examen.matiereExamen" formControlName="matiereExamen" 
            name="matiereExamen" required>
                <option *ngFor="let m of this.allMatiere" [ngValue]="m">{{m.nomMatiere}}</option>
            </select>
            <h5><label for="dateExamen">Date* :</label> [{{this.examen.dateExamen | date:"dd/MM/yyyy"}}] </h5>
            <input type="date" class="form-control" [(ngModel)]="this.examen.dateExamen" formControlName="dateExamen" 
            name="dateExamen" required>
            <h5><label for="typeExamen">Type* :</label> [{{this.examen.typeExamen}}]</h5>
            <select class="form-control" [(ngModel)]="this.examen.typeExamen" formControlName="typeExamen" 
            name="typeExamen" required>
                <option value="CC">Contrôle continu </option>
                <option value="DS">Devoir surveillé </option>
                <option value="TEST">Test</option>
                <option value="EXAMEN">Examen</option>
            </select>
            <h5><label for="coefExamen">Coefficient* :</label> [{{this.examen.coefExamen}}] </h5>
            <input type="number" class="form-control" [(ngModel)]="this.examen.coefExamen" formControlName="coefExamen" 
            name="coefExamen" required>
            <p>(* champs obligatoires)</p>
            <br><br>
            <button type="submit" class="btn btn-info" [disabled]="!this.formulaireModif.valid">Modifier</button>
            <br><br>
            <span *ngIf="this.messageSucces.length">
                <span class="alert alert-success">{{this.messageSucces}}</span>
            </span>
            <span *ngIf="this.messageEchec.length">
                <span class="alert alert-danger">{{this.messageEchec}}</span>
            </span>
            <br><br>
        </div>
    </form>
    <br><br>
    <button class="btn btn-info" (click)="retour()">Retour</button>
    <br><br>
</div>
