<app-navbar-etudiant></app-navbar-etudiant>

<div class="container">
    <h2>Ajouter un étudiant :</h2>
    <form [formGroup]='formulaireAjout' (ngSubmit) = 'save()'>
        <div class="form-group">
            <h5><label for="name">Prénom* :</label></h5>
            <input type="text" class="form-control" [(ngModel)]="this.etudiant.name" formControlName="name" name="name" required>
            <h5><label for="surname">Nom* :</label></h5>
            <input type="text" class="form-control" [(ngModel)]="this.etudiant.surname" formControlName="surname" name="surname" required>
            <h5><label for="mail">Email* :</label></h5>
            <input type="email" class="form-control" [(ngModel)]="this.etudiant.mail" formControlName="mail" name="mail" required>
            <h5><label for="identity">CNI* :</label></h5>
            <input type="number" class="form-control" [(ngModel)]="this.etudiant.identity" formControlName="identity" name="identity" pattern=".{6,}" title="6 caractères minimum" required>
            <h5><label for="phone">Telephone* : (+33) </label></h5>
            <input type="number" class="form-control" [(ngModel)]="this.etudiant.phone" formControlName="phone" name="phone" pattern=".{9,}" title="9 caractères minimum" required>
            <h5><label for="adress">Adresse :</label></h5>
            <input type="text" class="form-control" [(ngModel)]="this.etudiant.adress" formControlName="adress" name="adress">
            <h5><label for="postalCode">Code postal :</label></h5>
            <input type="number" class="form-control" [(ngModel)]="this.etudiant.postalCode" formControlName="postalCode" name="postalCode">
            <h5><label for="city">Ville :</label></h5>
            <input type="text" class="form-control" [(ngModel)]="this.etudiant.city" formControlName="city" name="city">
            <h5><label for="s">Sexe* :</label></h5>
            <select class="form-control" [(ngModel)]="this.etudiant.s" formControlName="s" name="s">
                <option>F</option>
                <option>M</option>
                <option>A</option>
            </select>
            <div *ngIf="!emptyListe">
            <h5><label for="classe">Classe :</label></h5>
            <select class="form-control" [(ngModel)]="this.etudiant.classe" formControlName="classe" name="classe">
                <option *ngFor="let c of this.allClasses" [ngValue]="c">{{c.name}}</option>
                <option [ngValue]=null>Aucune classe</option>
            </select>
            </div>
            <p>(* champs obligatoires)</p>
            <br><br>
            <button type="submit" class="btn btn-info" [disabled]="!this.formulaireAjout.valid">Ajouter</button>
            <br><br>
            <span *ngIf="this.messageSucces.length">
                <span class="alert alert-success">{{this.messageSucces}}</span>
            </span>
            <span *ngIf="this.messageEchec.length">
                <span class="alert alert-danger">{{this.messageEchec}}</span>
            </span>
            <br><br>
        </div>
    </form>
    <br><br><br>
    <button class="btn btn-info" (click)="retour()">Retour</button>
    <br><br>
</div>