<app-navbar-etudiant></app-navbar-etudiant>


    <h2 id="titre">Ajouter un Etudiant </h2>
    <hr>
    <div id="form">
    <form class="col-lg-3 col-sm-6" [formGroup]="etuForm">
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input id="name" name="name" class="form-control" placeholder="Nom" formControlName="name"
                required>
        </div>
        <hr>
        <div class="form-group">
            <label for="prenom">Prénom :</label>
            <input type="text" class="form-control" [(ngModel)]="this.etudiant.surname" placeholder="Prénom"
                name="prenom" required>
        </div>
        <hr>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class="form-control" [(ngModel)]="this.etudiant.mail" placeholder="Email"
                name="email" required>
        </div>
        <hr>
        <div class="form-group">
            <label for="cin">CIN :</label>
            <input type="text" class="form-control" [(ngModel)]="this.etudiant.identity"
                placeholder="Votre num de carte d'identité" name="cin" required>
        </div>
        <hr>
        <div class="form-group">
            <label for="sel1">Sexe :</label>
            <select class="form-control" id="sel1" [(ngModel)]="this.etudiant.s" name="sexe">
                <option class="selected">F</option>
                <option>M</option>
                <option>A</option>
            </select>
        </div>
        <hr>
        <button type="button" class="btn btn-primary" (click)="this.save()">Submit</button>
        <br>
        <br>
        <div class="alert alert-success" *ngIf="messageValidation">{{messageValidation}}</div>
        <div class="alert alert-danger" *ngIf="messageEchec">{{messageEchec}}</div>

    </form>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">Le champ nom est obligatoire.</div></div>
</div>
<br>
<br>
<hr>