
<app-create-etudiant></app-create-etudiant>
<div class="container">
    <h2 id="titre">Liste des étudiants </h2>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>CIN</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code Postal.</th>
                <th>Sexe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let etudiant of this.allEtudiant">
                <td>{{etudiant.identifiant}}</td>
                <td>{{etudiant.name}}</td>
                <td>{{etudiant.surname}}</td>
                <td>{{etudiant.mail}}</td>
                <td>{{etudiant.identity}}</td>
                <td>{{etudiant.phone}}</td>
                <td>{{etudiant.adress}}</td>
                <td>{{etudiant.city}}</td>
                <td>{{etudiant.postalCode}}</td>
                <td>{{etudiant.s}}</td>
                <td>
                    <button class="btn btn-danger" (click)="this.delete(etudiant.identifiant)">Supprimer</button>
                    <a routerLink="detail/{{etudiant.identifiant}}">
                    <button class="btn btn-info"  role="button" (click)="this.getEtudiant(etudiant.identifiant)">Details</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>