<app-navbar-note></app-navbar-note>

<div class="container">
    <h2>Ajouter une note :</h2>

    <p *ngIf="emptyListeEtudiant && !emptyListeExamen"><i>Désolé, aucun étudiant n'est enregistré. Vous ne pouvez pas ajouter de notes.</i></p>
    <p *ngIf="!emptyListeEtudiant && emptyListeExamen"><i>Désolé, aucun examen n'est enregistré. Vous ne pouvez pas ajouter de notes.</i></p>
    <p *ngIf="emptyListeEtudiant && emptyListeExamen"><i>Désolé, ni étudiant ni examen ne sont enregistrés. Vous ne pouvez pas ajouter de notes.</i></p>

    <div *ngIf="!emptyListeEtudiant && !emptyListeExamen">
    <h5><label for="matiere">Matière* : </label></h5>
    <select [(ngModel)]="this.matiere">
        <option *ngFor="let e of this.allExamenBis" [ngValue]="e.matiereExamen">{{e.matiereExamen.nomMatiere}}</option>
    </select>
    <br><br>
    <button class="btn btn-info" (click)="this.chooseMatiere(this.matiere)">Choisir</button>
    </div>
    <br>
    <p *ngIf="emptyListeEtudiantParMatiere && !emptyListeExamenParMatiere"><i>Désolé, aucun étudiant n'est inscrit à cette matière. Vous ne pouvez pas ajouter de notes.</i></p>
    
    <div *ngIf="!emptyListeEtudiantParMatiere && !emptyListeExamenParMatiere">
        Vous pouvez ajouter une note !
    </div>
    
    <br><br>
</div>
