<app-navbar-classe></app-navbar-classe>

<div class="container-fluid">
    <h2>Liste des classes :</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let classe of this.allClasse">
                <td>{{classe.id}}</td>
                <td>{{classe.name}}</td>
                <td>
                    <a routerLink="/classe/detail/{{classe.id}}" class="btn btn-info" role="button">Afficher les détails</a>
                    &nbsp;
                    <a routerLink="/classe/update/{{classe.id}}" class="btn btn-info" role="button">Modifier</a>
                    &nbsp;
                    <button class="btn btn-danger" (click)="this.delete(classe.id)">Supprimer</button>
                    &nbsp;
               </td>
            </tr>
        </tbody>
    </table>
    <br><br>
</div>