<div class="container">
    <br><br><br>
    <form [formGroup]="classForm" (ngSubmit)="this.save()">
        <input id="name" name="name" class="form-control" required minlength="4"
        formControlName="name" >

        <button type="submit" [disabled]="classForm.get('name').invalid">Create</button>
    </form>

    <div *ngIf="classForm.get('name').invalid && (classForm.get('name').dirty || classForm.get('name').touched)" class="alert alert-danger">

        <div *ngIf="classForm.get('name').errors.required">
            Name is required.
        </div>
        <div *ngIf="classForm.get('name').errors.minlength">
            Name must be at least 4 characters long.
        </div>
        <div *ngIf="classForm.get('name').errors.forbiddenName">
            Name cannot be Bob.
        </div>

    </div>
    <h2>Liste des classes :</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let classe of this.allClasse">
                <td>{{classe.id}}</td>
                <td>{{classe.name}}</td>
                <td>
                    <button class="btn btn-danger" (click)="this.delete(classe.id)">Supprimer</button>
                    &nbsp;
                    <a routerLink="/classe/detail/{{classe.id}}" class="btn btn-info" role="button">Voir details</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" class="form-control" [(ngModel)]="this.classe.name"
                        placeholder="Nom de la classe à ajouter" name="nom" required></td>
                <td><button type="button" class="btn btn-info" (click)="this.save()">Ajouter</button></td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-success" *ngIf="messageValidation">{{messageValidation}}</div>
    <div class="alert alert-danger" *ngIf="messageEchec">{{messageEchec}}</div>
    <br><br>
</div>