<div class="container">
    <h2>Liste des examens :</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Matiere</th>
                <th>Date</th>
                <th>Type</th>
                <th>Coefficient</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of this.allExamen">
                <td>{{e.idExam}}</td>                
                <td *ngIf="e.matiereExamen !== null; else elseBlock">{{e.matiereExamen.nomMatiere}}</td>
                <ng-template #elseBlock><td>AUCUNE!</td></ng-template>
                <td>{{e.dateExamen}}</td>
                <td>{{e.typeExamen}}</td>
                <td>{{e.coefExamen}}</td>
                <td>
                    <button class="btn btn-danger" (click)="this.delete(e.idExam)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
