<div class="container">
    <div class="alert alert-danger" *ngIf="messageEchec">{{messageEchec}}</div>

    <h2>Liste des examens :</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Matiere</th>
                <th>Date</th>
                <th>Type</th>
                <th>Coefficient</th>
                <th><button class="btn btn-info" (click)="this.toggle()"><span
                            *ngIf="!this.showCreate; else elseBlock">Ajouter un element</span>
                        <ng-template #elseBlock>Cacher le formulaire</ng-template>
                    </button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="this.showCreate">
                <td>*</td>
                <td>
                    <select class="form-control" [(ngModel)]="this.newExam.matiereExamen">
                        <option *ngFor="let m of this.allMatiere" [ngValue]="m">{{m.nomMatiere}}</option>
                    </select>
                </td>
                <td><input class="form-control" type="date" [(ngModel)]="this.newExam.dateExamen"></td>
                <td>
                    <select class="form-control" id="sel1" [(ngModel)]="this.newExam.typeExamen" name="type">
                        <option>CC</option>
                        <option>DS</option>
                        <option>TEST</option>
                        <option>EXAMEN</option>
                    </select>
                </td>
                <td><input class="form-control" type="text" [(ngModel)]="this.newExam.coefExamen" style="width: 3rem;">
                </td>
                <td>
                    <button class="btn btn-success" (click)="this.create()">Enregistrer</button>
                </td>
            </tr>
            <tr *ngFor="let e of this.allExamen">
                <td>{{e.idExam}}</td>
                <td *ngIf="e.matiereExamen !== null; else elseBlock"><a
                        routerLink="/matiere/detail/{{e.matiereExamen.idMatiere}}">{{e.matiereExamen.nomMatiere}}</a>
                </td>
                <ng-template #elseBlock>
                    <td>AUCUNE!</td>
                </ng-template>
                <td>{{e.dateExamen}}</td>
                <td>{{e.typeExamen}}</td>
                <td>{{e.coefExamen}}</td>
                <td>
                    <a routerLink="/examen/detail/{{e.idExam}}">
                        <button class="btn btn-info">Details</button>
                    </a>
                    <button class="btn btn-danger" (click)="this.delete(e.idExam)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>