<div class="container">
    <h2>Liste des examens :</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Matiere</th>
                <th>Date</th>
                <th>Type</th>
                <th>Coefficient</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>                
                <td>Matiere</td>
                <td>Date</td>
                <td>Type</td>
                <td><input type="text" [(ngModel)]="this.newExam.coefExamen"></td>
                <td>
                    <button class="btn btn-success" (click)="this.create()">Ajouter</button>
                </td>
            </tr>
            <tr *ngFor="let e of this.allExamen">
                <td>{{e.idExam}}</td>                
                <td *ngIf="e.matiereExamen !== null; else elseBlock"><a routerLink="/matiere/detail/{{e.matiereExamen.idMatiere}}">{{e.matiereExamen.nomMatiere}}</a></td>
                <ng-template #elseBlock><td>AUCUNE!</td></ng-template>
                <td>{{e.dateExamen}}</td>
                <td>{{e.typeExamen}}</td>
                <td>{{e.coefExamen}}</td>
                <td>
                    <button class="btn btn-danger" (click)="this.delete(e.idExam)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
